nav {
  background-color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

.navbar-brand {
  float: left;
}



/*menu*/
/*.....*/


/*footerlist-style: none;*/
footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.contact-us {
  text-align: center;
}

.contact-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-us p {
  margin-bottom: 10px;
}

.contact-us ul {
  list-style-type: none;
  padding: 0;
}

.contact-us li {
  margin-bottom: 5px;
}

/* .social-media a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.social-media a:hover {
  color: #aaa;
} */

/* img{
    padding: 10px;
} */

div i {
  font-size: 20px;
  padding: 10px;
}

div i:hover {

  cursor: pointer;
}

/* div img{
    filter: grayscale(70%);
    transition: transform 0.5s;
}

div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
} */

div.scroll-container {
  background-color: #1f1f1f;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}